In [8]:
#import needed libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import math
import seaborn as sns
import os

In [1]:
5+6

11

In [11]:
url = 'nhanes_yrs5.csv'
data = pd.read_csv(url,low_memory=False)
data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,...,SMQ905,SMQ910,SMQ915,SXQ295,SXQ296,URXUTRI,URDTIME1,URDTIME2,URDTIME3,URDUIOLC
0,41475,5,2,2,62,751.0,752.0,5,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41476,5,2,2,6,81.0,82.0,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41477,5,2,1,71,859.0,860.0,3,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41478,5,2,2,1,17.0,17.0,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41479,5,2,1,52,629.0,630.0,1,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

SyntaxError: invalid syntax (<ipython-input-14-266d25ddf3b1>, line 1)